/* Importando font-family */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


.detail-container{
    border: 1px solid rgb(234, 130, 255);
    padding: 25px 60px 25px 60px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin-right: 13em;
}


.title-detail{
    text-align: center;
    font-size: 35px;
    margin-bottom: 1em;
}


.detail-price{
    text-align: center;
    font-size: 25px;
    margin-bottom: 1.5em;
}



.contador2{
    text-align: center;
    margin-top: 2em;
    font-size: 20px;
    display: block;
    margin-left: .6em;
    
}

.imgF{
    width: 120px;
    margin-left: 2em;
}



.button-back-prod{
    padding: 20px 60px 20px 60px;
    border-radius: 50px;
    border: 1px solid rgb(243, 175, 255);
    font-size: 20px;
    background-color: #fff;
    margin-right: 2em;
    margin-top: 22em;
    cursor: pointer;
}

