/* Importando font-family */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


.detail-combo{
 display: flex;
 flex-direction: row-reverse;
}

.detail-container{
    border: 1px solid rgb(234, 130, 255);
    padding: 25px 60px 25px 60px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin-right: 13em;
    
   
}


.title-detail{
    text-align: center;
    font-size: 35px;
    margin-bottom: 1em;
}


.detail-price{
    text-align: center;
    font-size: 25px;
    margin-bottom: 1.5em;
}



.contador2{
    text-align: center;
    margin-top: 2em;
    font-size: 20px;
    display: block;
    margin-left: .6em;
    
}

.imgF{
    width: 120px;
    margin-left: 2em;
}



.button-back-prod{
    padding: 20px 60px 20px 60px;
    border-radius: 50px;
    border: 1px solid rgb(243, 175, 255);
    font-size: 20px;
    background-color: #fff;
    margin-top: 2em;
    cursor: pointer;
    margin-right: 2em;
  
}

.contain-buttons{
    display: flex;
}

.button-back-prod-2{
    background-color: rgb(255, 208, 255);
}



@media screen and (max-width: 768px){
    .detail-container{
        border: 1px solid rgb(234, 130, 255);
        padding: 25px 60px 25px 60px;
        border-radius: 50px;
        background-color: #fff;
        box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
        margin-right: 13em;
    }
    .imgF{
        width: 60px;
        margin-left: 2em;
    }
    .detail-price{
        text-align: center;
        font-size: 20px;
        margin-bottom: 1.5em;
    }
    .title-detail{
        text-align: center;
        font-size: 25px;
        margin-bottom: 1em;
    }
    .button-back-prod-2{
        background-color: rgb(255, 208, 255);
        padding: 10px 40px 10px 40px;
        font-size: 16px;
        margin-top: 2em;
        
    }
 
.detail-combo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10em;
    margin-right: 11em;
}

}