
/* Import font-family */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.listProd{
            background-image: url(/src/assets/hotsale.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; 
            display: flex;
            flex-direction: row;
            align-items: center;
          
            
            

}



.img-hot-sale{
    width: 400px;
    margin-bottom: 10em;
    margin-top: 5em;
   
    
}