
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


.contador { 
    text-align: center;
}



.buttonContainer  { 
    display: flex;
    justify-content: center;
}

.buttonHand{
   margin-left: .5em;
   padding: 10px 15px 10px 15px;
   margin-top: 2em;
   border: 1px solid #000;
   background-color: rgb(255, 196, 196);
   border-radius: 50px;
   margin-left: 1.2em;
   margin-bottom: 2em;
   text-decoration: none;
   color: #000;
   font-family: 'Varela Round', sans-serif;
   
   

   
}


.imgCard{
        margin-left: 3em;
        width: 135px;
        height: 105px;
       
}


.paraGP{
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 20px;
    margin-top: .9em;
    
    
}
