@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Lobster&family=Poppins&family=Rajdhani&family=Rubik+Dirt&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.container{
    height: 715px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/src/components/Home/colores.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    flex-direction: column;
    
    
  
    
}


.h1-container{
    font-family: 'Varela Round', sans-serif;
    font-size: 42px;
    color:#000;
    margin-bottom: 1.5em;
   
    
    
}


.paraText {
    margin-top: .5em;
    font-size: 52px;
}


.logoGreen{
    width: 250px;
   
   
}

.section {
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    background: linear-gradient(45deg,rgb(74, 240, 138),rgb(152, 218, 197),rgb(79, 251, 97),rgb(133, 153, 127) );
}

.box2{
    border: 1.5px solid #000;
    padding: 70px 20px 70px 20px ;
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin-right: 1.7em;
    background: linear-gradient(45deg,rgb(36, 37, 36),rgb(224, 248, 240),rgb(181, 225, 217),black );
    
    
}

.title2{
    font-size: 22px;
    font-family: 'Varela Round', sans-serif;
    
}

.title1{
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    margin-left: 2em;

}


.frase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.buttonOff{
  
    padding: 15px 100px 15px 100px;
    background: linear-gradient(45deg,rgb(36, 37, 36),rgb(224, 248, 240),rgb(181, 225, 217),black );
    border: 1px solid rgb(9, 8, 4);
    border-radius: 50px;
    cursor: pointer;

}
